{% extends "base.html" %}
{% block content %}
<title>Snaq</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<div class='page'>
	{% block body %}
	<div>
		{% for post in posts %}
			<div class='sale-wrapper'>
				{% if post['picture'] != 'NPI' %}
					<div class='sale-image'>
						<img src="{{post['picture']}}" />
					</div>
				{% endif %}
				{% if post['message'] != 'NMS' %}
					<p>{{post['message']}}</p>
				{% endif %}
				<div class='close-icon'>
					<img src="{{ url_for('static', filename='images/close.png') }}"/>
				</div>
			</div>
		{% endfor %}

	</div>
	{% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(".close-icon").click(function() {
	$(this).closest("div.sale-wrapper").slideUp();
});
</script>
{% endblock %}